.container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    background-color: #ccc;
    padding: 16px;
}

.image-border {
    padding: 3px;
    border: solid 5px black;
}

.title-header {
    color: rgb(0, 174, 255);
    font-weight: bold;
}